.burger {
  display: none;
  --width: 21px;
  --height: 14px;
  --size-line: 2px;
  --color: var()
}

@media  (max-width : 1000px) {
  .burger {
    display: block;
  }
}

@media  (max-width : 580px)  {

}
